// Colors
$primary-gold-color: #c5a47e !important;

// Fonts

@font-face {
  font-family: "Montserrat_CF";
  src: url(./src/static/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

@font-face {
  font-family: "Open_sans";
  src: url(./src/static/Fonts/Open_Sans/OpenSans.ttf)
}